<div class="px-5">
    <div class="comment-container">
        {{ c.content|safe }}
    </div>
    <p><small class="text-muted">{{ c.created_at|date:'d M Y H:m:s' }}</small></p>

    {%if c.replies %}
        {% for r in c.replies.all %}
            {% include 'ideas/comment.html' with c=r %}
        {% endfor %}
    {% endif %}

    <a href="" class="reply-link" onclick="toggleReplyForm(c.pk)">Répondre</a>

    <div class="answer-form" id="comment-{{ c.pk }}">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
        </form>
    </div>
</div>