<div class="px-5">
    <div class="comment-container">
        {{ c.content|safe }}
    </div>
    <p><small class="text-muted">{{ c.created_at|date:'d M Y H:m:s' }}</small></p>

    <button class="reply-btn" data-type="comment" data-id="{{ c.pk }}">Répondre</button>

    <form id="comment-form-{{ c.pk }}" class="comment-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="{{ form.answer_to_id.name }}" id="{{ form.answer_to_id.id_for_label }}" value="{{ c.pk }}">

        <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
        {{ form.content }}
        <button type="submit">Envoyer</button>
    </form>

    {%if c.replies %}
        {% for r in c.replies.all %}
            {% include 'ideas/comment.html' with c=r %}
        {% endfor %}
    {% endif %}

    
</div>