{% extends "ideas/base.html" %}

{% block title %}Visualisation d'une idée{% endblock %}

{% block content %}
<h5>Idée #{{ idea.pk }}</h5>
<h2>{{ idea.title }}</h2>

{{ idea.description|safe }}

<hr>

<h4>Commentaires ({{ idea.comments.count }})</h4>

{% for comment in idea.comments.all %}
    <div class="card mb-3">
        <div class="card-body">
            <p>{{ comment.content|safe }}</p>
            <p><small class="text-muted">Créé le {{ comment.created_at }}</small></p>
        </div>
    </div>
{% empty %}
    Pas de commentaires pour le moment.
{% endfor %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
</form>

{% endblock %}