{% extends "ideas/base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        blablablabla
        <a href="{% url 'idea_create' %}" class="btn btn-primary mb-3">
            <i class="fa-solid fa-plus"></i> Ajouter une idée
        </a>
    </div>

    <div class="col-md-9">
        {% for ideas in object_list %}
            <div class="card mt-3">
                <div class="card-header">Idée #{{ ideas.pk }}</div>
                
                <div class="card-body">
                    <div class="badge rounded-pill text-bg-primary">{{ ideas.get_status_display }}</div>
                    <h5 class="card-title"><a href="{% url 'idea_detail' pk=ideas.pk %}">{{ ideas.title }}</a></h5>
                    <p>{{ ideas.description }}</p>
                    <p><small class="text-muted">Créé le {{ ideas.created_at }}</small></p>
                </div>
                <div class="card-footer">
                    <i class="fa-solid fa-comment"></i>&nbsp;{{ ideas.comments.count }} | <a href="" class="upvote" id="{{ideas.pk}}"><i class="fa-solid fa-thumbs-up text-success"></i> {{ ideas.upvotes }}</a> | <a href="" class="downvote" id="{{ideas.pk}}"><i class="fa-solid fa-thumbs-down text-danger"></i> {{ ideas.downvotes }}</a>
                </div>
            </div>
        {% empty %}
            Pas d'idées pour le moment.
        {% endfor %}
    </div>
</div>


<script>
    const upvotes = document.querySelectorAll('.upvote');

    upvotes.forEach(el => {
        el.addEventListener('click', function(e) {
            e.preventDefault();
            let ideaId = this.id;
            console.log(ideaId);
            fetch(`/idea/${ideaId}/up`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                this.innerHTML = "<i class=\"fa-solid fa-thumbs-up text-success\"></i> "+data.upvote;
            });
        });

    });


    const downvotes = document.querySelectorAll('.downvote');

    downvotes.forEach(el => {
        el.addEventListener('click', function(e) {
            e.preventDefault();
            let ideaId = this.id;
            console.log(ideaId);
            fetch(`/idea/${ideaId}/down`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                this.innerHTML = "<i class=\"fa-solid fa-thumbs-down text-danger\"></i> "+data.downvote;
            });
        });

    });
</script>

{% endblock%}